PORT=5000
MONGO_URI=mongodb://kurvashi731_db_user:s&RqU!nbYe5-e2e@ac-hfibxli-shard-00-00.tjuvckd.mongodb.net:27017,ac-hfibxli-shard-00-01.tjuvckd.mongodb.net:27017,ac-hfibxli-shard-00-02.tjuvckd.mongodb.net:27017/sevasetu?ssl=true&replicaSet=atlas-45plui-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=sevasetu_hackathon_secret_key_2026_change_this
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173